@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background-image: url("https://images.pexels.com/photos/5501143/pexels-photo-5501143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); */
  background-size: cover; /* Mengatur gambar latar belakang memenuhi area */
  background-attachment: fixed; /* Gambar tetap saat scroll */
  padding: 20px;
}
/* 
.bg-login{
  background-image: url("https://images.pexels.com/photos/5501143/pexels-photo-5501143.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
} */

.page404{
  margin-top: 500px;
  text-align: center;
}

.formBody{
  text-align: center;
}

form{
  padding: 10px;
}
        
header{
  text-align: center;
  }

header li span{
  font-weight: bold;
}

.yellowText{
  color: #ECB740;
  margin-left: 8px;
  margin-right: 8px;
}


  header img{
  width: 130px;
    height: 130px;
    border-radius: 50%;
    top: 200px;
  }

h1{
  text-align: center;
}

ul {
  padding: 0; 

  margin: 0;  
}

ul li {
  text-align: center;
  display: block;
}

ul.menu li a {
  text-decoration: none; /* Menghilangkan garis bawah */
  color: #000; /* Atur warna teks, jika diperlukan */
  border: 1px solid black;
  display: block;
  padding: 10px 0;
  margin: 10px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border-radius: 5px;
}

ul.menu li a:hover {
  text-decoration: underline; /* Tampilkan garis bawah saat hover */
  color: #555; /* Ubah warna saat hover (opsional) */
}

footer ul{
  justify-content: center;
  display: flex;
  gap: 10px;
}

footer ul a{
  font-size: 20px;
}

.my-shopping-list {
  padding: 0;
  margin: 0;
}

.my-shopping-list li {
  background: #fef6e2;
  display: flex; /* Menggunakan Flexbox */
  align-items: center;
  justify-content: space-between; /* Jarak antar elemen */
  padding: 10px; /* Memberikan ruang antar item */
  border-bottom: 1px solid #ddd; /* Garis pemisah antar item */
  margin: 10px;
  border-radius: 10px;
}

.my-shopping-list li button {
  margin-left: auto;
  background-color: #ECB740; /* Warna tombol */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.my-shopping-list li button:hover {
  background-color: #ff4a4a;
  cursor: pointer;
}

.nav {
  position: fixed;
  background: #ccc;
  padding: 20px 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;

}

.nav-Content {
  display: flex;
  width: 100%;
  margin-left: 28px;
  align-items: center; /* Menyelaraskan item vertikal */
}

.nav-Content button {
  margin-left: auto; /* Mendorong tombol ke kanan */
  background-color: #ECB740; /* Warna tombol */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}

.nav-Content button:hover {
  background-color: #ff4a4a; /* Warna tombol saat hover */
}

.nav-Content div {
  margin-right: 10px; /* Memberikan jarak antara teks dan tombol */
}
